# Java后端忽略
**/target/
backend/.idea/
backend/*.iml
backend/logs/
backend/uploads/

# Vue前端忽略
frontend/node_modules/
frontend/dist/
frontend/.vscode/
frontend/npm-debug.log

# 通用忽略
*.class
.DS_Store
.env
.project
.classpath
.settings/

*.log
*.tmp
*.bak

application-local.yml
application-local.properties

spring-shell.log

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/maven-wrapper.jar
!**/src/test/**/maven-wrapper.jar

*.jar
*.war
*.ear

HELP.md

node_modules/
build/
.vite/
.next/
.nuxt/

.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.eslintcache

.vscode/
.history/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

project-sky-admin-vue-ts/