**/target/
.idea
*.iml
*.class
*Test.java
**/test/

.DS_Store
.project
.classpath
.settings/

*.log
*.tmp
*.bak

.env
application-local.yml
application-local.properties

spring-shell.log

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/maven-wrapper.jar
!**/src/test/**/maven-wrapper.jar

*.jar
*.war
*.ear

HELP.md

node_modules/
dist/
build/
.vite/
.next/
.nuxt/

.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.eslintcache

.vscode/
.history/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

project-sky-admin-vue-ts/